@font-face {
  font-family: "iconfont"; /* Project id 4334855 */
  src: url('iconfont.woff2?t=1702434353643') format('woff2'),
       url('iconfont.woff?t=1702434353643') format('woff'),
       url('iconfont.ttf?t=1702434353643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tree:before {
  content: "\e60b";
}

.icon-radio:before {
  content: "\e6ed";
}

.icon-radio-select:before {
  content: "\e6ee";
}

.icon-forbidden:before {
  content: "\e631";
}

.icon-ellipsis:before {
  content: "\e600";
}

.icon-minus:before {
  content: "\e688";
}

.icon-plus:before {
  content: "\e71f";
}

.icon-minus-circle:before {
  content: "\e780";
}

.icon-plus-circle:before {
  content: "\e781";
}

.icon-female:before {
  content: "\eb3c";
}

.icon-male:before {
  content: "\eb44";
}

.icon-wrench:before {
  content: "\e7e5";
}

.icon-wrench-fill:before {
  content: "\e86e";
}

.icon-user-fill:before {
  content: "\e767";
}

.icon-user:before {
  content: "\e7af";
}

.icon-book:before {
  content: "\e7b3";
}

.icon-book-fill:before {
  content: "\e854";
}

.icon-sitemap2:before {
  content: "\e60d";
}

.icon-sitemap1:before {
  content: "\e70d";
}

.icon-sitemap:before {
  content: "\e6aa";
}

.icon-piechart:before {
  content: "\e78f";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-key:before {
  content: "\e7e1";
}

.icon-mobile:before {
  content: "\e7b2";
}

.icon-wechat-fill:before {
  content: "\e883";
}

